<!DOCTYPE html>

<html>

<head>

<title>TIGBE Salem Dashboard</title>

<!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

<!--navbar links-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
   <a class="navbar-brand" href="#">TIGBE Salem Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarTogglerDemo02"
  aria-controls="navbarTogglerDemo02" aria-expanded="false"
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
            <a class="nav-link" href="#">Blog Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.kaggle.com/rtatman/salem-witchcraft-dataset">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://en.wikipedia.org/wiki/Salem_witch_trials">More Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://plot.ly">Plotly</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.udacity.com/course/data-scientist-nanodegree--nd025">Udacity</a>
          </li>
    </ul>
  </div>
</nav>

<!--middle section-->
<div class="row">

    <!--social media buttons column-->
    <div class="col-1">
        <div id="follow-me" class="row ml-1 mt-2">
            <a href="https://medium.com/@briantfriederich">
          		<img class="mb-3 img-fluid" src="/static/img/mediumlogo.png" alt="medium logo">
        	</a>
        	<a href="https://github.com/briantfriederich">
          		<img class="mb-3 img-fluid" src="/static/img/githublogo.png" alt="github logo">
       		</a>
        	<a href="https://www.linkedin.com/in/briantfriederich/">
          		<img class="img-fluid" src="/static/img/linkedinlogo.png" alt="linkedin logo">
        	</a>
        </div>
    </div>

    <!--visualizations column-->
    <div class="col-11">
      <h2>We Hate Parris in the Springtime</h2>
        <h4 class="mb-4 text-muted">Visualizing the Social Dimensions of the Salem Witch Trials</h4>
        <div class="container">
          <div class="row mb-3">
            <div class="col-12">
              <div id="chart1">
                <div id="{{ids[0]}}"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <div id="chart2">
                <div id="{{ids[1]}}"></div>
              </div>
            </div>
            <div class="col-6">
              <div id ="chart3">
                <div id="{{ids[2]}}"></div>
              </div>
            </div>
          </div>
        </div>
    <div>
</div>

<!--footer section-->
<div id="footer" class="container"></div>

</body>


<footer>

    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script>

</footer>


</html>
